<nav class="navbar-container d-flex">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="home" aria-current="page"  >Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link button" routerLink="/home-nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="home-contacto" >Contacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/propiedades" >Propiedades</a>
        </li>
             <li class="nav-item">
            <button class="btn-usuarios"><a routerLink="login" aria-current="page">Ingresar</a></button>
        </li>
        <li class="nav-item">
            <button class="btn-usuarios"><a routerLink="registro" aria-current="page">Registrarse</a></button>
        </li>
        
    </ul>

</nav>
