<div class="container-registro">
    <!-- Form -->
    <section class="section resgistro">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-3">
                    <div class="section pb-3 pt-3 pt-sm-4 text-center">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap pt-3 pb-3">
                                        <!-- form -->
                                        <form [formGroup]="form" (ngSubmit)="btnRegistro()" class="section text-center" id="formRegistro" novalidate>
                                            <h4 class="mb-4 pb-3">Registrarse</h4>
                                            <div class="form-group form-control">
                                                <input formControlName="nombre" [class.is-invalid]="nombreNovalido" type="text" name="sign-name" class="form-style "
                                                    placeholder="Nombre" id="sign-name" minlength="3" maxlength="60"
                                                    required>
                                                <i id="iconName" class="input-icon bi-person-circle"></i>
                                                <div *ngIf="nombreNovalido" class= "alert alert-danger mt-2" >
                                                    El nombre es obligatorio
                                               </div>
                                            </div>
                                            <div class="form-group  form-control mt-2">
                                                <input formControlName="apellido" [class.is-invalid]="apellidoNovalido" type="text" name="sign-apellido" class="form-style"
                                                    placeholder="Apellido" id="sign-apellido" minlength="3"
                                                    maxlength="60" required>
                                                <i class="input-icon bi-person-circle"></i>
                                                <div *ngIf="apellidoNovalido" class= "alert alert-danger mt-2" >
                                                    El apellido es obligatorio
                                                </div>

                                            </div>
                                            <div class="form-group  form-control mt-2">
                                                <input formControlName="email" [class.is-invalid]="emailNovalido" type="email" name="sign-mail" id="sign-mail"
                                                    class="form-style" placeholder="Email" id="sign-mail"
                                                    minlength="10" maxlength="60" required>
                                                <i class="input-icon bi-envelope"></i>
                                                <div *ngIf="emailNovalido" class="alert alert-danger mt-2">
                                                    El Email debe ser válido
                                                </div>
                                            </div>
                                            <div class="form-group  form-control mt-2">
                                                <input formControlName="password1" [class.is-invalid]="password1Novalido" type="password" name="sign-pass" class="form-style"
                                                    placeholder="Contraseña" id="sign-pass" autocomplete="off"
                                                    minlength="8" maxlength="12" required>
                                                <i class="input-icon bi bi-key"></i>
                                                <div *ngIf="password1Novalido" class= "alert alert-danger mt-2" >
                                                    Ingrese una contraseña con un mínimo de 8 caracteres
                                                </div>
                                            </div>
                                            <div class="form-group  form-control mt-2">
                                                <input formControlName="password2" [class.is-invalid]="password2Novalido" type="password" name="sign-pass2" class="form-style"
                                                    placeholder="Repetir contraseña" id="sign-pass2"
                                                    autocomplete="off" minlength="8" maxlength="12" required>
                                                <i class="input-icon bi bi-key"></i>
                                                <div *ngIf="password2Novalido" class= "alert alert-danger mt-2" >
                                                    Las contraseñas no coinciden
                                                </div>
                                            </div>
                                            <a routerLink="/login" aria-current="page" >
                                                <button formControlName="btnRegistro()" id="btnRegistro" class="mt-4 btn" type="submit" ><span>Registrarse</span></button> </a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!--Login ends-->
