<footer class="footer">
  <div class="footer-container">
      <div class="img-footer">
          <img src="../../../assets/Logo-property.png">
      </div>
      <div class="ubicacion">
          <p class="ub-footer">Buenos Aires 1273, Planta alta- B° Los arenales- Buenos Aires, Argentina</p>
          <p class="ub-footer"></p>
      </div>

      
      <div class="redes-sociales">
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google"><i class="bi bi-linkedin"></i></a>

      </div>
      
  </div>
  <div class="copyright text-center">
      <p class="ub-footer">©Copyright Property Inmobiliaria - 2023</p>
  </div>
</footer>
