<h2>Propiedades destacadas</h2>
<div id="carouselExampleSlidesOnly" class="carousel slide col my-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="../../../assets/dest-1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="../../../assets/dest-2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/dest-2.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

