<footer class="footer">
  <div class="footer-container">
      <div class="img-footer">
          <img src="../../../assets/Logo-property.png">
      </div>
      <div class="ubicacion">
          <p class="ub-footer">Buenos Aires 1273 Planta alta- B° Los arenales- Buenos Aires, Argentina</p>
          <p class="ub-footer"></p>
      </div>
      <div class="Tel-contacto">
          <a href="Tel:+54 xxx-xxxxxx"><i class="fa-solid fa-phone"></i>(+54) 11-465387 </a>

      </div>
      
      <div class="redes-sociales">
          <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="google"><i class="fab fa-linkedin-in"></i></a>

      </div>
      
  </div>
  <div class="copyright text-center">
      <p class="ub-footer">© Copyright Property Inmobiliaria - 2022</p>
  </div>
</footer>