<h2>Inicio de sesión</h2>
<div class="container">
    <h1 class="text-center">Iniciar Sesión</h1>
    <form class="justify-content-center needs-validation" novalidate>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Dirección de E-mail</label>
            <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp" required>
            <div class="invalid-feedback"></div>
            <div id="emailHelp" class="form-text">Nunca compartiremos tus datos con nadie.</div>
            <div class="invalid-feedback">Debes ingresar un e-mail con formato válido</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="input-password" minlength="5" required>
        </div>
        <div class="mb-5 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordar Contraseña</label>
        </div>
        <div class="container text-center">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
    <div id="envio-exito" class="ocultar">Bienvenido de nuevo <strong id="email-usuario"></strong>! En instantes serás redirigido a tu perfil...</div>
</div>
