 <section id="login">
    <div class="container-login">
        <section class="login">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-3">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">

                                            <form  id="loginForm" class="section text-center needs-validation" novalidate>
                                                <h4 class="mb-4 pb-3">Inicio de sesion</h4>

                                                <!-- --------------email--------------------------- -->
                                                <div class="form-group">
                                                    <input formControlName="email" type="email" [formControl]="email" class="form-style form-check-input form-control" placeholder="Email" >

                                                    <i class="input-icon bi bi-person-circle"></i>
                                                    <div class="alert alert-white mt-2" [hidden]="email.valid || email.pristine ">
                                                        <p *ngIf="email.errors?.['required']" class="text-danger">
                                                            El Email es requerido
                                                        </p>
                                                        <p *ngIf="email.errors?.['email']" class="text-danger">
                                                            El formado del email debe ser válido
                                                        </p>
                                                    </div>
                                                </div>

                                                <!-- ----------password------------------------------ -->

                                                <div class="form-group mt-2">
                                                    <input formControlName="password" type="password" [formControl]="password"  class="form-style form-check-input form-control" placeholder="Contraseña">

                                                    <i class="input-icon bi bi-key"></i>
                                                     <div class="alert alert-white mt-2" [hidden]="password.valid || password.pristine" class="text-danger">

                                                      <p *ngIf="password.errors?.['required']" class="text-danger">
                                                        El password es requerido
                                                      </p>
                                                    </div>

                                                </div>
                                                <!-- ----------------------------------------------- -->
                                                <a><button id="btn-login" class="btn mt-4"
                                                        type="submit"><span>Ingresar</span></button></a>
                                                <!-- <p class="mb-0 mt-3 text-center"><a routerLink="registro" aria-current="page" class="link">Registrate</a></p> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
</section>

