.logo-container{
    width: 20px;
}

.navbar-container{
    padding: 20px;
    margin-left: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.nav li{
    list-style: none;
    transition: all 0.4s;
}

.nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;

}

.btn-usuarios {
    background-color: #1C4C96;
    padding:0.7em;
}