<nav class="navbar-container d-flex">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login">Ingresar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Empresa">La empresa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contactos">Contactos</a>
        </li>
        <li class="nav-item">
            <button class="btn-usuarios"><a>Soy usuario</a></button>
        </li>
        <li class="nav-item">
            <button class="btn-usuarios"><a routerLink ="/admin" class="nav-link active">Soy administrador</a></button>
        </li>
    </ul>

</nav>
